/* Styling of GIPHY display  */
.giphy-display-msg-class{
    padding-left: 20px;
    padding-top: 20px;
  }
  
  /* Giph row/col style */
  .giphy-div-style{
    padding-left: 175px;
  }
  
  /* iFrame styles */
  iframe {
    border: none;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    padding: 5px;
  }
  
  iframe:hover{
     box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  