:local(.nav) div {
    font-size: 2em; 
    font-family:'Cookie', cursive; 
    color: #373a3c; 
    text-decoration: none;
}

:local(.nav) div.navbar-brand {
    font-size: 3em;
}

:local(.nav) div.navbar-brand:hover{
    text-decoration: none;
}

:local(.nav) div.my-giphs{
    font-size: 30px;
}